@import url(https://fonts.googleapis.com/css?family=Pacifico);
#plateau
{
    width: 800px;
    height: 550px;
    padding-top: 40px;
    padding-left: 98px;
    padding-right: 92px;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
}
#table
{
    width: 100%;
    height: 470px;
    text-align: center;
}

#info div
{
    padding: 5px;
    font-family: Pacifico, "Courier New";
    font-size: 20px;
    display: inline-block;
    margin-right: 7%;
    margin-left: 7%;
}

#info
{
    width: 700px;
    height: 100px;
    margin: auto;
    color: white;
}

#joueurs div
{
    display: block;
}

.box
{
    width: 36px;
}
.boxTop
{
    vertical-align: top;
}
.boxBot
{
    vertical-align: bottom;
}
.boxSelect
{
    background-color: yellowgreen;
    border-radius: 50px;
    opacity: 0.5;
}
.boxSelect img
{
    opacity: 1;
    filter: saturate(200%);
}
.barre
{
    width: 75px;
}
.pion
{
    width: 36px;
    height: 36px;
    padding: 5px;
    -webkit-border-image: linear-gradient(#555555, #888888);
    -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-top-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-left-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-right-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
}
.pion:hover
{
    padding: 0px;
    border-radius: 100%;
    border-width: 5px;
    border-style: solid;
    border-color: #888888;
    -webkit-border-image: linear-gradient(#555555, #888888);
    -moz-border-bottom-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-top-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-left-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
    -moz-border-right-colors: #555 #666 #777 #888 #999 #aaa #bbb #ccc;
}

.exit, .void
{
    width: 50px;
}

.face {
    width: 60px;
    height: 60px;
    display: inline-block;
    background-repeat: no-repeat;
}


.face-1 { background-position: left top; }

.face-2 { background-position: 20% top; }

.face-3 { background-position: 40% top; }

.face-4 { background-position: 60% top; }

.face-5 { background-position: 80% top; }

.face-6 { background-position: right top; }