<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Backgammon{% endblock %}</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
        <link rel="stylesheet" href="{{ asset('backgammon/css/style.css') }}" />
        <style type="text/css">
            body
            {
                background: url("{{ asset('/backgammon/img/background_login.png') }}") center center no-repeat fixed,
                url("{{ asset('/backgammon/img/background_login_fast.png') }}") center center no-repeat fixed;
                background-size: cover;
            }
            .form
            {
                opacity: 0.95;
                border-radius: 5%;
            }
        </style>
        {% block stylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container-fluid">
            {% block body %}{% endblock %}
        </div>
        <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
