{% extends 'default.html.twig' %}

{% block body %}
    <div class="login-page">
        <div class="form" id="searching">
            Recherche d'un adversaire<br/>
            <img src="{{ asset('/backgammon/img/loading.gif') }}" alt="..." />
        </div>
        <div class="form" id="found">
            Adversaire trouvé !
            <a class="btn btn-success button" href="./play">Jouer !</a>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <style type="text/css">
        @import url(https://fonts.googleapis.com/css?family=Pacifico);
        #searching, #found
        {
            font-family: "Pacifico", sans-serif;
            font-size: 25px;
        }
        #found
        {
            display: none;
        }
        #found .button
        {
            margin-top: 50px;
        }
    </style>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function Erreur(message)
        {
            $(".form").prepend("<div class=\"alert alert-danger\">" + message + "</div>");
        }

        function Ready()
        {
            $("#found").css("display", "block");
            $("#searching").css("display", "none");
        }

        function Check(){
            $.ajax({
                type:'POST',
                url:'check',
                dataType:'json',
                success:function(resp){
                    if(resp == 'true')
                        Ready();
                    else
                        setTimeout(function(){
                            Check()
                        },1000)
                }
            })
        }
        Check();
    </script>
{% endblock %}