{% extends 'default.html.twig' %}

{% block body %}
    <div id="plateau">
        <div class="table-responsive">
        <table  id="table">
            {% for i in 1..2 %}
                {% set class = 'box'%}
                <tr>
                    <td id="void_{{ i }}" class="void"></td>
                    {% for j in 1..13 %}
                        {% set class = 'box'%}
                        {% if i == 1 %}
                            {% set class = class ~ ' boxTop'%}
                        {% elseif i == 2 %}
                            {% set class = class ~ ' boxBot'%}
                        {% endif %}
                        {% if j == 7 %}
                            {% set class = class ~ ' barre'%}
                        {% endif %}
                        <td ondragover="allowDrop(event)" ondrop="dropPiece(event)" id="case_{{ i }}_{{ j }}" class="{{ class }}"></td>
                    {% endfor %}
                    <td ondragover="allowDrop(event)" ondrop="dropPiece(event)" id="exit_{{ i }}" class="{{ class }} exit"></td>
                </tr>
            {% endfor %}
        </table>
        </div>
        <span id="pion1" class="hide"><img ondragend="return dragPieceEnd(event)" ondragstart="return dragPiece(event)" src="{{ asset('backgammon/img/pion1.png') }}" alt="pion1" class="pion" /></span>
        <span id="pion2" class="hide"><img ondragend="return dragPieceEnd(event)" ondragstart="return dragPiece(event)" src="{{ asset('backgammon/img/pion2.png') }}" alt="pion2" class="pion" /></span>
    </div>
    <div id="info">
        <div id="joueurs">
            <div id="infoJ1">

            </div>
            <div id="infoJ2">

            </div>
        </div>
        <div id="des">
            <span id="de1" class="face face-3"></span>
            <span id="de2" class="face face-3"></span>
        </div>
        <div id="tour">

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('backgammon/css/backgammon.css') }}" />
    <style type="text/css">
        body
        {
            background-image: url("{{ asset('backgammon/img/background.png') }}");
        }
        #plateau
        {
            background-image: url("{{ asset('backgammon/img/plateau.png') }}");
        }
        .face
        {
            background-image: url("{{ asset('backgammon/img/facesDe.png') }}");
        }
    </style>
{%  endblock %}

{% block javascripts %}
    <script src="{{ asset('backgammon/js/functions.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        RefreshGame();
        RefreshServer();
    </script>
{% endblock %}