{% extends 'default.html.twig' %}
{% block body %}
    <div class="login-page">
        <div class="form">
            {% for key, message in app.session.flashbag.all() %}
                <div class="alert alert-{{ key }}">
                    {{ message }}
                </div>
            {% endfor %}

            {% if is_granted('ROLE_USER') %}
                    <h1>Bonjour {{ app.user.username }}</h1>
                    <a class="btn btn-success button" href="/backgammon/matchmaking">Chercher un adversaire</a>
                    <p class="message">Vous n'êtes pas {{ app.user.username }} ? <a href="{{ url('fos_user_security_logout') }}">Deconnectez-vous</a></p>
            {% else %}
                {% block fos_user_content %}
                {% endblock fos_user_content %}

                {% if  app.request.attributes.get("_route") == 'fos_user_registration_register' %}
                    <p class="message">Déjà inscrit ? <a href="{{ url('fos_user_security_login') }}">Connectez-vous</a></p>
                {% endif %}
                {% if  app.request.attributes.get("_route") == 'fos_user_security_login' %}
                    <p class="message">Pas inscrit ? <a href="{{ url('fos_user_registration_register') }}">Créer un compte</a></p>
                {% endif %}
                {% if  app.request.attributes.get("_route") == 'fos_user_registration_confirmed' %}
                    <p class="message"><a href="{{ url('fos_user_security_login') }}">Connectez-vous</a></p>
                {% endif %}
            {% endif %}
        </div>
    </div>

{% endblock %}
